.main-container {
    width: 375px;
    height: 100vh;
    background-color: var(--white);
    margin: auto;
    /* padding-inline: 24px; */
}

  /* 
  ===========================
  MEDIA QUERIES
  ======================== */
  /* @media (max-width: 768px) and (max-width: 991px){
    .main-container {
        width: 768px;
    } 
  } */
/* @media (max-width:1024px){
    .main-container {
        width: 768px;
        margin: 50px auto;
        border: 1px solid red;
    }
} */