/* You can add global styles to this file, and also import other style files */

/* serif */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* monospace */


*,
::before,
::after {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}
:root {
    --white: #FFFFFF;
    --active-color: #A445ED;
    --error-color: #FF5252;
    --text-color: #757575;
    --text-inputColor: #2D2D2D;
    --input-bg: #F4F4F4;
    --darkMode-inputBg: #1F1F1F;
    --darkMode-bg: #050505;
    --hr: #3A3A3A;
    --bar: #E9E9E9;

}

.dark-mode {
    background-color: var(--darkMode-bg);
    color: var(--white);
}

/* Specific styling for input elements in dark mode */
.dark-mode input{
    background-color: var(--darkMode-inputBg);
}